<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="Tasks" connectionString="Data Source=localhost;Initial Catalog=ToDoList;Integrated Security=SSPI;"/>
    <add name="ToDoListEntities" connectionString="metadata=res://*/ToDoList.csdl|res://*/ToDoList.ssdl|res://*/ToDoList.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ToDoList;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!-- DI config defining the concrete implimentation of ITaskListRepository to be used. -->
    <add key="TaskListRepositoryClassXXX" value="ToDoList.Model.MemoryTaskList"/>
    <add key="TaskListRepositoryClassXXX" value="ToDoList.Model.SqlTaskList"/>
    <add key="TaskListRepositoryClass" value="ToDoList.Model.EdmTaskList"/>
    <add key="TaskListRepositoryClassXXX" value="ToDoList.Model.EdmWithSprocsTaskList"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />

    <!-- Setup the in in process session state to stay alive for 8 hours for each user -->
    <sessionState mode="InProc" timeout="480" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
