USE [master]
GO
/****** Object:  Database [ToDoList]    Script Date: 09/09/2012 10:16:00 ******/
CREATE DATABASE [ToDoList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ToDoList.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToDoList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ToDoList_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoList]
GO
/****** Object:  StoredProcedure [dbo].[Tasks_Add]    Script Date: 09/09/2012 10:16:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tasks_Add]
	@Description NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Tasks
	VALUES (NEWID(), @Description, GETDATE(), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[Tasks_Delete]    Script Date: 09/09/2012 10:16:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tasks_Delete]
	@ID UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM Tasks
	WHERE ID = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[Tasks_GetAll]    Script Date: 09/09/2012 10:16:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tasks_GetAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM Tasks
	ORDER BY IsComplete, Created
END

GO
/****** Object:  StoredProcedure [dbo].[Tasks_MarkAsComplete]    Script Date: 09/09/2012 10:16:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tasks_MarkAsComplete]
	@ID UNIQUEIDENTIFIER
AS
BEGIN
    UPDATE Tasks
	SET IsComplete = 1
	WHERE ID = @ID
END

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 09/09/2012 10:16:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Created] [datetime] NOT NULL,
	[IsComplete] [bit] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
